body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 90px;
}

h3 {
  color: #555;
  font-size: 60px;
}

p,
ul {
  font-size: 40px;
  color: #555;
  line-height: 1.6;
}
